@font-face {
    font-family: 'NB International';
    src: url('NBInternationalRegularWebfont.woff2') format('woff2'),
        url('NBInternationalRegularWebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

