.card-availability {
    position: relative;

    width: 100%;

    height: 100%;

    padding: rem(20px, 'extra-small');

    background-color: $color-light-grey-3;

    border-radius: 12px;

    cursor: pointer;

    @include respond-to('small') {
        padding: rem(30px, 'small');
    }
    
    @include respond-to('medium') {
        padding: rem(30px, 'medium');
    }
    
    @include respond-to('large') {
        padding: rem(30px, 'large');
    }
    
    @include respond-to('extra-large') {
        padding: rem(30px, 'extra-large');
    }
}

.particle-placeholder {
    opacity: 0;

    position: absolute;
    bottom: 0;
    left: 0;

    width: rem(15px, 'extra-small');
    height: rem(15px, 'extra-small');

    background-color: red;

    pointer-events: none;

    @include respond-to('small') {
        width: rem(15px, 'small');
        height: rem(15px, 'small');
    }
    
    @include respond-to('medium') {
        width: rem(15px, 'medium');
        height: rem(15px, 'medium');
    }
    
    @include respond-to('large') {
        width: rem(15px, 'large');
        height: rem(15px, 'large');
    }
    
    @include respond-to('extra-large') {
        width: rem(15px, 'extra-large');
        height: rem(15px, 'extra-large');
    }
}

.container {
    position: relative;

    width: 100%;
    height: 100%;
}

.card-title {
    display: block;

    margin-bottom: rem(77px, 'extra-small');

    @include respond-to('small') {
        margin-bottom: rem(40px, 'small');
    }
    
    @include respond-to('medium') {
        margin-bottom: rem(40px, 'medium');
    }
    
    @include respond-to('large') {
        margin-bottom: rem(40px, 'large');
    }
    
    @include respond-to('extra-large') {
        margin-bottom: rem(40px, 'extra-large');
    }
}

.email {
    display: block;
    // @include selectable();
}

.button-arrow-wrapper {
    margin-top: rem(77px, 'extra-small');

    pointer-events: none;

    @include respond-to('small') {
        position: absolute;
        bottom: 0;
        left: 0;

        margin-top: 0;
    }

    &::v-deep {
        .arrow-container {
            right: auto;
            left: 0;
        }

        .background {
            background-color: $color-light-grey-2;
        }
    }
}

.button-placeholder {
    opacity: 0;
}