.section-contact {
    padding-bottom: rem(20px, 'extra-small');

    @include respond-to('small') {
        padding-bottom: rem(32px, 'small');
    }
    
    @include respond-to('medium') {
        padding-bottom: rem(42px, 'medium');
    }
    
    @include respond-to('large') {
        padding-bottom: rem(30px, 'medium');
    }
    
    @include respond-to('extra-large') {
        padding-bottom: rem(30px, 'medium');
    }
}

.row {
    @include respond-to('small') {
        display: flex;

        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    @include respond-to('large') {
        flex-wrap: nowrap;
    }
}

.col {
    display: inline-block;

    width: 100%;

    margin-bottom: rem(20px, 'extra-small');

    vertical-align: top;

    &:last-child {
        width: 100%;

        margin-bottom: 0;
    }

    @include respond-to('small') {
        width: size(3, 2, 'small');
        min-width: size(3, 2, 'small');

        margin-bottom: rem(20px, 'small');
    }

    @include respond-to('medium') {
        width: size(8, 7, 'medium');
        min-width: size(8, 7, 'medium');

        margin-bottom: rem(20px, 'small');
    }

    @include respond-to('large') {
        width: size(8, 7, 'large');
        min-width: size(8, 7, 'large');

        margin-bottom: 0;

        &:last-child {
            width: size(8, 7, 'large');
            min-width: size(8, 7, 'large');
        }
    }

    @include respond-to('extra-large') {
        width: size(8, 7, 'extra-large');
        min-width: size(8, 7, 'extra-large');

        margin-bottom: 0;

        &:last-child {
            width: size(8, 7, 'extra-large');
            min-width: size(8, 7, 'extra-large');
        }
    }
}

.col-content {
    @include respond-to('large') {
        padding-bottom: rem(8px, 'large');

        border-bottom: 1px solid $color-light-grey;
    }

    @include respond-to('extra-large') {
        padding-bottom: rem(8px, 'extra-large');
    }
}