// Prevent masking element on scroll bounce safari
$bounce-offset: 200px;

.the-navigation-scroll {
    z-index: 10000;

    position: fixed;
    top: -$bounce-offset;
    left: 0;

    width: 100%;
    height: calc(#{rem(98px, 'extra-small')} + #{$bounce-offset});

    overflow: hidden;

    pointer-events: none;

    @include respond-to('small') {
        height: calc(#{rem(98px, 'small')} + #{$bounce-offset});
    }

    @include respond-to('medium') {
        height: calc(#{rem(108px, 'medium')} + #{$bounce-offset});
    }

    @include respond-to('large') {
        height: calc(#{rem(108px, 'large')} + #{$bounce-offset});
    }

    @include respond-to('extra-large') {
        height: calc(#{rem(108px, 'large')} + #{$bounce-offset});
    }
}

.main {
    display: flex;
    position: absolute;
    top: calc(#{rem(20px, 'extra-small')} + #{$bounce-offset});
    right: 0;
    left: 0;

    align-items: center;

    width: size(2, 1, 'extra-small');
    height: rem(68px, 'extra-small');

    margin: auto;

    color: $color-white;

    transform: translateY(-150%);

    pointer-events: all;

    @include respond-to('small') {
        top: calc(#{rem(20px, 'small')} + #{$bounce-offset});

        width: rem(698px, 'small');
        height: rem(68px, 'small');
    }

    @include respond-to('medium') {
        top: calc(#{rem(30px, 'medium')} + #{$bounce-offset});

        width: size(14, 13, 'medium');
        height: rem(68px, 'medium');
    }

    @include respond-to('large') {
        top: calc(#{rem(30px, 'large')} + #{$bounce-offset});

        width: size(22, 21, 'large');
        height: rem(68px, 'large');
    }

    @include respond-to('extra-large') {
        top: calc(#{rem(30px, 'extra-large')} + #{$bounce-offset});

        width: size(22, 21, 'extra-large');
        height: rem(68px, 'large');
    }
}

.navigation-container {
    width: 100%;

    padding-right: rem(30px, 'extra-small');
    padding-left: rem(30px, 'extra-small');

    @include respond-to('small') {
        padding-right: rem(30px, 'small');
        padding-left: rem(30px, 'small');
    }

    @include respond-to('medium') {
        padding-right: rem(30px, 'medium');
        padding-left: rem(30px, 'medium');
    }

    @include respond-to('large') {
        padding-right: rem(30px, 'large');
        padding-left: rem(30px, 'large');
    }

    @include respond-to('extra-large') {
        padding-right: rem(30px, 'extra-large');
        padding-left: rem(30px, 'extra-large');
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: transparentize($color: $color-grey, $amount: 0.18);

    border-radius: 8px;

    backdrop-filter: saturate(180%) blur(20px);
}

.row {
    display: flex;
    position: relative;

    align-items: flex-end;

    width: 100%;
}

.col-button-home {
    display: inline-block;

    @include respond-to('medium') {
        width: rem(250px, 'medium');
        min-width: rem(250px, 'medium');
    }

    @include respond-to('large') {
        width: rem(456px, 'large');
        min-width: rem(456px, 'large');
    }

    @include respond-to('extra-large') {
        width: rem(675px, 'extra-large');
        min-width: rem(675px, 'extra-large');
    }
}

.col-buttons {
    opacity: 0;
    visibility: hidden;

    display: flex;

    position: absolute;
    bottom: 0;
    left: 0;

    align-items: flex-end;

    height: 100%;

    // border: solid 1px red;

    @include respond-to('medium') {
        opacity: 1;
        visibility: visible;

        position: initial;

        width: rem(421px, 'medium');
        min-width: rem(421px, 'medium');
    }

    @include respond-to('large') {
        width: rem(628px, 'large');
        min-width: rem(628px, 'large');
    }

    @include respond-to('extra-large') {
        width: rem(848px, 'extra-large');
        min-width: rem(848px, 'extra-large');
    }
}

.button-container {
    margin-right: rem(20px, 'extra-small');

    @include respond-to('small') {
        margin-right: rem(40px, 'small');
    }

    @include respond-to('medium') {
        width: rem(101px, 'medium');

        margin-right: 0;
    }

    @include respond-to('large') {
        width: rem(107px, 'large');
    }

    @include respond-to('extra-large') {
        width: rem(107px, 'extra-large');
    }
}

.button-wrapper {
    display: inline-block;

    position: relative;
}

.active-indicator {
    opacity: 0;

    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;

    width: 4px;
    height: 4px;

    margin: auto;

    background-color: $color-white;
    border-radius: 50%;

    transition: opacity 0.3s ease-in-out;

    .is-active & {
        opacity: 1;
    }
}

.button-navigation {
    padding-bottom: rem(4px, 'extra-small');

    @include respond-to('small') {
        padding-bottom: rem(4px, 'small');
    }

    @include respond-to('medium') {
        padding-bottom: rem(3px, 'medium');
    }

    @include respond-to('large') {
        padding-bottom: rem(4px, 'large');
    }

    @include respond-to('extra-large') {
        padding-bottom: rem(4px, 'extra-large');
    }
}

.col-socials {
    display: none;

    position: absolute;
    right: 0;
    bottom: 0;

    text-align: right;

    @include respond-to('medium') {
        display: inline-flex;

        align-items: flex-end;
    }
}

.social-container {
    @include respond-to('medium') {
        margin-left: rem(30px, 'medium');
    }

    @include respond-to('large') {
        margin-left: rem(30px, 'large');
    }

    @include respond-to('extra-large') {
        margin-left: rem(30px, 'extra-large');
    }
}

.button-social {
    font-size: rem(18px, 'extra-small');
    letter-spacing: rem(-0.32px, 'extra-small');

    @include respond-to('small') {
        font-size: rem(18px, 'small');
        letter-spacing: rem(-0.32px, 'small');
    }

    @include respond-to('medium') {
        font-size: rem(20px, 'medium');
        letter-spacing: rem(-0.4px, 'medium');
    }

    @include respond-to('large') {
        padding-bottom: rem(2px, 'large');

        font-size: rem(20px, 'large');
        letter-spacing: rem(-0.4px, 'large');
    }

    @include respond-to('extra-large') {
        padding-bottom: rem(2px, 'extra-large');

        font-size: rem(20px, 'extra-large');
        letter-spacing: rem(-0.4px, 'extra-large');
    }
}

.col-button-toggle-navigation {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    height: rem(20px, 'extra-small');

    margin: auto;

    @include respond-to('small') {
        height: rem(20px, 'small');
    }

    @include respond-to('medium') {
        display: none;
    }
}

.button-toggle-navigation {
    width: auto;
    height: 100%;

    padding-top: rem(2px, 'extra-small');

    @include respond-to('small') {
        padding-top: rem(2px, 'small');
    }

    @include respond-to('medium') {
        padding-top: 0;
    }

    // border: solid 1px red;
}

.icon-toggle-navigation {
    width: auto;
    height: 100%;

    * {
        stroke: $color-white;
    }
}

