// Colors
$color-white: #ffffff;
$color-grey: #7F7F7F;
$color-light-grey: #BFBFBF;
$color-light-grey-2: #D4D4D4;
$color-light-grey-3: #EBEBEB;
$color-black: #000000;

// Fonts
$font-primary: 'NB International';

// Misc

// Font sizes
$base-font-size: 1vw;

// Fluid type
$viewport-width-extra-small: 375px;
$viewport-width-small: 768px;
$viewport-width-medium: 1024px;
$viewport-width-large: 1440px;
$viewport-width-extra-large: 1920px;

$sizes: (
    'extra-small': $viewport-width-extra-small,
    'small': $viewport-width-small,
    'medium': $viewport-width-medium,
    'large': $viewport-width-large,
    'extra-large': $viewport-width-extra-large,
);

// Breakpoints
$breakpoints: (
    'extra-small': (min-width: 0),
    'small': (min-width: 768px),
    'medium': (min-width: 1024px),
    'large': (min-width: 1280px),
    'extra-large': (min-width: 1920px),
);

// Columns
$columns-amounts: (
    'extra-small': 2,
    'small': 6,
    'medium': 16,
    'large': 24,
    'extra-large': 24,
);

$columns-margins: (
    'extra-small': 20px,
    'small': 20px,
    'medium': 30px,
    'large': 30px,
    'extra-large': 30px,
);

$columns-gutters: (
    'extra-small': 24px,
    'small': 24px,
    'medium': 24px,
    'large': 24px,
    'extra-large': 24px,
);

// Misc
$columns-margin-extra-small: 20px;
$columns-margin-small: 20px;
$columns-margin-medium: 30px;
$columns-margin-large: 30px;
$columns-margin-extra-large: 30px;

// Easings

// sin
$sine-in: cubic-bezier(0.12, 0, 0.39, 0);
$sine-out: cubic-bezier(0.61, 1, 0.88, 1);
$sine-in-out: cubic-bezier(0.37, 0, 0.63, 1);

// cubic
$cubic-in: cubic-bezier(0.32, 0, 0.67, 0);
$cubic-out: cubic-bezier(0.33, 1, 0.68, 1);
$cubic-in-out: cubic-bezier(0.65, 0, 0.35, 1);

// quad
$quad-in: cubic-bezier(0.11, 0, 0.5, 0);
$quad-out: cubic-bezier(0.5, 1, 0.89, 1);
$quad-in-out: cubic-bezier(0.45, 0, 0.55, 1);

// quart
$quart-in: cubic-bezier(0.5, 0, 0.75, 0);
$quart-out: cubic-bezier(0.25, 1, 0.5, 1);
$quart-in-out: cubic-bezier(0.76, 0, 0.24, 1);

// expo
$expo-in: cubic-bezier(0.7, 0, 0.84, 0);
$expo-out: cubic-bezier(0.16, 1, 0.3, 1);
$expo-in-out: cubic-bezier(0.87, 0, 0.13, 1);

// quint
$quint-in: cubic-bezier(0.64, 0, 0.78, 0);
$quint-out: cubic-bezier(0.22, 1, 0.36, 1);
$quint-in-out: cubic-bezier(0.83, 0, 0.17, 1);

// circ
$circ-in: cubic-bezier(0.55, 0, 1, 0.45);
$circ-out: cubic-bezier(0, 0.55, 0.45, 1);
$circ-in-out: cubic-bezier(0.85, 0, 0.15, 1);

// Javascript
:export {
    baseFontSize: $base-font-size;
    viewportWidthExtraSmall: $viewport-width-extra-small;
    viewportWidthSmall: $viewport-width-small;
    viewportWidthMedium: $viewport-width-medium;
    viewportWidthLarge: $viewport-width-large;
    viewportWidthExtraLarge: $viewport-width-extra-large;
}
