.scroll-container {
    width: 100%;

    min-height: 100%;
}

.scroll-content {
    position: relative;

    width: 100%;
    min-height: calc(var(--vh, 1vh) * 100);

    .is-smooth & {
        position: fixed;
        top: 0;
        left: 0;

        will-change: transform;
    }
}
