.the-footer {
    
}

.row {
    @include respond-to('small') {
        display: flex;

        justify-content: space-between;
        align-items: flex-end;
    }
}


.credits {
    
}

.role {
    display: block;

    padding-top: rem(10px, 'extra-small');
    
    color: $color-grey;

    border-top: solid 1px $color-black;
    
    @include respond-to('small') {
        display: initial;
        
        padding-top: 0;

        color: $color-black;

        border-top: none;
    }
}

.separator {
    display: none;

    @include respond-to('small') {
        display: initial;
    }
}

.button-arrow-wrapper {
    display: inline-block;

    width: 100%;
    
    @include respond-to('small') {
        width: rem(137px, 'small');
    }
    
    @include respond-to('medium') {
        width: rem(137px, 'medium');
    }
    
    @include respond-to('large') {
        width: rem(140px, 'large');
    }
    
    @include respond-to('extra-large') {
        width: rem(150px, 'extra-large');
    }
}

.button {
    width: 100%;
    height: 100%;
}

.copyrights {
    margin-top: rem(60px, 'extra-small');

    @include respond-to('small') {
        margin-top: 0;
    }
}