.block-project {

}

.row {
    display: flex;
    flex-direction: column-reverse;

    @include respond-to('large') {
        flex-direction: row;

        align-items: flex-end;
    }
}

.col-left {
    width: 100%;

    margin-top: rem(30px, 'extra-small');

    @include respond-to('small') {
        margin-top: rem(30px, 'small');
    }
    
    @include respond-to('medium') {
        margin-top: rem(30px, 'medium');
    }
    
    @include respond-to('large') {
        width: size(10, 10, 'large');

        margin-top: 0;
    }

    @include respond-to('extra-large') {
        width: size(10, 10, 'extra-large');
    }
}

.content {
    width: 100%;

    @include respond-to('large') {
        width: size(8, 7, 'large');
    }

    @include respond-to('extra-large') {
        width: size(8, 7, 'extra-large');
    }
}

.col-right {
    width: 100%;
    
    @include respond-to('large') {
        width: size(14, 13, 'large');
    }
    
    @include respond-to('extra-large') {
        width: size(14, 13, 'extra-large');
    }
}

.image-container {
    width: 100%;
    height: 0;

    padding-bottom: 100%;
    
    background-color: $color-light-grey;

    @include respond-to('large') {
        padding-bottom: aspect-ratio(796px, 828px);
    }

    @include respond-to('extra-large') {
        padding-bottom: aspect-ratio(1075px, 1120px);
    }
}