.cursor-slider {
    display: flex;

    position: absolute;
    bottom: rem(20px, 'extra-small');
    left: rem(20px, 'extra-small');

    justify-content: center;
    align-items: center;

    width: rem(16px, 'extra-small');
    height: rem(16px, 'extra-small');

    margin: auto;

    font-size: rem(14px, 'extra-small');
    line-height: rem(14px, 'extra-small');

    color: $color-white;
    text-align: center;

    pointer-events: none;

    @include respond-to('small') {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;        
        
        width: rem(48px, 'small');
        height: rem(35px, 'small');

        font-size: rem(14px, 'small');
        line-height: rem(14px, 'small');
    }

    @include respond-to('medium') {
        width: rem(48px, 'medium');
        height: rem(35px, 'medium');

        font-size: rem(14px, 'medium');
        line-height: rem(14px, 'medium');
    }

    @include respond-to('large') {
        width: rem(48px, 'large');
        height: rem(35px, 'large');

        font-size: rem(14px, 'large');
        line-height: rem(14px, 'large');
    }

    @include respond-to('extra-large') {
        width: rem(48px, 'extra-large');
        height: rem(35px, 'extra-large');

        font-size: rem(12px, 'extra-large');
        line-height: rem(10px, 'extra-large');
    }
}

.text {
    display: none;

    will-change: transform;

    position: relative;

    @include respond-to('small') {
        display: block;
    }
}

.background {
    will-change: transform;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #FFC100;

    border-radius: 50%;

    @include respond-to('small') {
        background-color: transparentize($color: $color-grey, $amount: 0.05);

        border-radius: rem(17px, 'small');
    }

    @include respond-to('medium') {
        border-radius: rem(17px, 'medium');
    }

    @include respond-to('large') {
        border-radius: rem(17px, 'large');
    }

    @include respond-to('extra-large') {
        border-radius: rem(17px, 'extra-large');
    }
}
