.image-renderer {
    position: relative;

    width: 100%;
    height: 100%;

    overflow: hidden;

    &.is-old-safari {
        .image-full {
            opacity: 1;
        }
    }
}

.image-full {
    opacity: 0;
}

.image-low {
    filter: blur(50px);
}