.button-navigation {
    font-size: rem(18px, 'extra-small');
    letter-spacing: rem(-0.32px, 'extra-small');

    @include respond-to('small') {
        font-size: rem(18px, 'small');
        letter-spacing: rem(-0.32px, 'small');
    }
    
    @include respond-to('medium') {
        font-size: rem(20px, 'medium');
        letter-spacing: rem(-0.4px, 'medium');
    }
    
    @include respond-to('large') {
        font-size: rem(22px, 'large');
        letter-spacing: rem(-0.4px, 'large');
    }
    
    @include respond-to('extra-large') {
        font-size: rem(22px, 'extra-large');
        letter-spacing: rem(-0.4px, 'extra-large');
    }
}