.rich-text {
    &::v-deep {

        .button {
            display: inline;
        }

        a {
            color: $color-grey;
            text-decoration: underline;
        }

        p {
            margin-bottom: rem(20px, 'extra-small');   

            @include respond-to('small') {
                margin-bottom: rem(30px, 'small');   
            }
            
            @include respond-to('medium') {
                margin-bottom: rem(30px, 'medium');
            }
            
            @include respond-to('large') {
                margin-bottom: rem(30px, 'large');
            }
            
            @include respond-to('extra-large') {
                margin-bottom: rem(30px, 'extra-large');
            }
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}